@import '../pattern/index.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateY(-12vw);
  margin-top: $margin-medium;

  @media screen and (max-width: $small-screen) {
    justify-content: center;
    align-items: center;
    transform: translateY(0px);
    margin-top: $margin-xlarge;
  }
}

.figurine {
  z-index: $top;
  width: auto;
  height: $image-height-small-relative;
  position: absolute;
  transform: translate(8vw, 3vw);

  @media screen and (max-width: $small-screen) {
    height: $image-height-large-relative;
    transform: translate(0px, 0px);
  }
}

.bg {
  width: 100%;
  height: auto;
  opacity: 0.1;
  filter: blur(2px);
  
  @media screen and (max-width: $small-screen) {
    opacity: 0.3;
    filter: blur(1px);
  }
}
