@import "../../styles/patterns/colors.scss";
@import "../../styles/patterns/sizes.scss";

.container {
  @media screen and (max-width: $small-screen) {
    width: auto;
    height: auto;
    background-color: $home-bg;
  }
}
