@import '../pattern/index.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateY(-35vw);

  @media screen and (max-width: $small-screen) {
    padding-bottom: $padding-small;
    transform: translateY(0px);
  }
}

.homeButtonLink {
  width: $button-width-large-relative;
  height: $button-height-large-relative;
  margin: 0;

  @media screen and (max-width: $small-screen) {
    width: $button-width-large-rel;
    height: $button-height-large;
  }
}

.homeButton {
  z-index: $top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: $principal-font;
  font-size: $font-size-button-large-relative;
  font-weight: $bold;
  color: $elegant-white;
  background-color: $red-carpet;
  border: none;
  border-radius: $border-radius-small;
  margin: 0;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    background-color: $red-carpet-hover;
  }

  @media screen and (max-width: $small-screen) {
    font-size: $font-size-button-large;
  }
}

.icon {
  width: auto;
  height: $icon-height-small-relative;
  filter: invert(1);
  margin-left: $margin-xsmall;
}
