@import '../pattern/index.scss';

.flexConfig {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: $small-screen) {
    width: 100vw;
  }
}

.textDefault {
  z-index: $top;
  font-size: $font-size-title-small-relative;
  font-weight: $regular;

  @media screen and (max-width: $small-screen) {
    font-size: $font-size-title-small;
  }
}

.marginDefault {
  margin: 0;
}

.container {
  flex-direction: column;
  font-family: $secondary-font;
  color: $statuette;
  margin-top: $margin-large;

  @media screen and (max-width: $small-screen) {
    margin-top: $margin-medium;
  }
}

.top {
  flex-direction: row;
  height: $font-size-title-small-relative;
  margin-bottom: $margin-xxsmall;

  @media screen and (max-width: $small-screen) {
    height: $font-size-title-small;
    margin-bottom: $margin-xxsmall;
  }
}

.the {
  padding-left: $padding-small-rel;
  padding-right: $padding-small-rel;
}

.year {
  height: $font-size-title-small-relative;
  margin-top: $margin-xxsmall;

  @media screen and (max-width: $small-screen) {
    height: $font-size-title-small;
    margin-top: $margin-xxsmall;
  }
}

.oscars {
  z-index: $top;
  height: $font-size-title-large-relative;
  font-size: $font-size-title-large-relative;
  font-weight: $regular;
  padding: 0;
  
  @media screen and (max-width: $small-screen) {
    height: $font-size-title-large;
    font-size: $font-size-title-large;
  }
}

.line {
  z-index: $top;
  width: 8%;
  height: 0;
  border: 2px solid $statuette;
  border-radius: $border-radius-medium-relative;

  @media screen and (max-width: $small-screen) {
    width: 18%;
    border: 1px solid $statuette;
  }
}
