@import '../pattern/index.scss';

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $top-menu-height;
  background-color: black;
  padding-left: $padding-small-relative;
  padding-right: $padding-small-relative;
  
  @media screen and (max-width: $small-screen) {
    width: 100vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: $elegant-black;
}

.logo {
  width: auto;
  height: $icon-height-large;
}

.divider {
  z-index: $top;
  width: 100%;
  height: 0;
  border: 2px solid $principal-divider;
  
  @media screen and (max-width: $small-screen) {
    border: 1px solid $principal-divider;
  }
}

.shadow {
  z-index: $middle;
  width: 100%;
  height: $gradient-large;
  position: absolute;
  background: $principal-gradient;
  transform: translateY($top-menu-height);

  @media screen and (max-width: $small-screen) {
    height: $gradient-medium;
  }
}
