$elegant-black: #0d0d0d;
$red-carpet: #9c1c1c;
$elegant-white: #fcfcfc;
$statuette: #edce74;

$menu: #000000;

$home-bg: #131313;
$principal-bg: #222222;

$gradient: linear-gradient(
  rgba(0, 0, 0, 0.808) 0%,
  rgba(0, 0, 0, 0.3) 50%,
  rgba(0, 0, 0, 0.15) 65%,
  rgba(0, 0, 0, 0.075) 75.5%,
  rgba(0, 0, 0, 0.037) 80.85%,
  rgba(0, 0, 0, 0.019) 83%,
  rgba(0, 0, 0, 0.015) 89%,
  rgba(0, 0, 0, 0.01) 92%,
  rgba(0, 0, 0, 0) 100%
);

$divider: rgba(255, 255, 255, 0.544);
