//Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
$open-sans: 'Open Sans', sans-serif;

//Nanum Gothic
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
$nanum: 'Nanum Gothic', sans-serif;

//font-weight
$regular: 400;
$bold: 700;

//line-height
$line-height-small: 45px;
