//fonts
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

//mobile
$small-screen: 414px;

//top-menu-mobile
$top-menu-mobile: 80px;
$top-menu-icons-mobile: 32px;
$top-menu-social-mobile: 28px;
$top-menu-social-mobile-width: 25%;
$top-menu-padding-mobile: 8%;
$top-menu-gradient-mobile: 88px;

//oscar-title-mobile
$oscar-title-font-size-mobile-small: 24px;
$oscar-title-font-size-mobile-large: 48px;
$oscar-title-padding-mobile-small: 0.5rem;
$oscar-title-margin-mobile-large: 30px;
$oscar-title-margin-mobile-small: 5px;

//hero-image-mobile
$hero-image-mobile-small-height: 65vw;
$hero-image-margin-mobile-small: 50px;

//home-text-mobile
$home-text-margin-mobile-small: 20px;
$home-text-margin-mobile-large: 40px;
$home-text-font-size-mobile-small: 16px;
$home-text-font-size-mobile-large: 45px;
$home-text-mobile-small-width: 85%;

//home-button-mobile
$home-button-margin-mobile-small: 10px;
$home-button-margin-mobile-large: 30px;
$home-button-mobile-width: 80%;
$home-button-mobile-height: 51px;
$home-button-mobile-icon-height: 30%;
$home-button-font-size-mobile: 20px;
$home-button-border-radius-mobile: 4px;
$home-button-padding-mobile-small: 30px;

