//palett
$elegant-black: #0d0d0d;
$elegant-white: #fcfcfc;
$red-carpet: #9c1c1c;
$red-carpet-hover: #551111;
$statuette: #edce74;

//background
$principal-bg: #131313;
$secondary-bg: #222222;
$tertiary-bg: #0000006e;

//gradient
$principal-gradient: linear-gradient(
  rgba(0, 0, 0, 0.808) 0%,
  rgba(0, 0, 0, 0.3) 50%,
  rgba(0, 0, 0, 0.15) 65%,
  rgba(0, 0, 0, 0.075) 75.5%,
  rgba(0, 0, 0, 0.037) 80.85%,
  rgba(0, 0, 0, 0.019) 83%,
  rgba(0, 0, 0, 0.015) 89%,
  rgba(0, 0, 0, 0.01) 92%,
  rgba(0, 0, 0, 0) 100%
);

//divider
$principal-divider: rgba(255, 255, 255, 0.544);