@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

//font-family
$principal-font: 'Open Sans', sans-serif;
$secondary-font: 'Nanum Gothic', sans-serif;

//font-size
$font-size-title-small-relative: 2.5vw;
$font-size-title-small: 24px;
$font-size-title-large-relative: 6vw;
$font-size-title-large: 48px;

$font-size-text-small-relative: 1.8vw;
$font-size-text-small: 16px;
$font-size-text-large-relative: 3.5vw;
$font-size-text-large: 45px;

$font-size-button-large-relative: 1.3vw;
$font-size-button-large: 20px;

//font-weight
$regular: 400;
$bold: 700;

//line-height
$line-height-small: 45px;