//screens
$small-screen: 414px;

//top-menu
$top-menu-height: 80px;

//icon
$icon-height-small-relative: 30%;
$icon-height-small: 28px;
$icon-height-large: 32px;

//image
$image-height-small-relative: 40vw;
$image-height-large-relative: 65vw;

//button
$button-height-large-relative: 3.5vw;
$button-height-large: 51px;
$button-width-large-relative: 20vw;
$button-width-large-rel: 80%;

//boxes
$box-width-small-relative: 25%;
$box-width-large-relative: 10vw;
$text-box-small-width-relative: 40%;
$text-box-large-width-relative: 85%;

//padding
$padding-small-relative: 8%;
$padding-small-rel: 0.5rem;
$padding-small: 30px;

//margin
$margin-xxsmall: 5px;
$margin-xsmall: 10px;
$margin-small: 20px;
$margin-medium: 30px;
$margin-large: 40px;
$margin-xlarge: 50px;

//gradient
$gradient-medium: 88px;
$gradient-large: 100px;

//border-radius
$border-radius-small: 4px;
$border-radius-medium-relative: 20%;