@import "../pattern/index.scss";

.container {
  font-family: $principal-font;
  color: $elegant-white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 200px;
  height: 370px;
  margin: 0;

  @media screen and (max-width: $small-screen) {
    width: 170px;
    height: 260px;
    margin: 0;
    margin-bottom: 120px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 370px;
  background-color: $tertiary-bg;
  box-shadow: 3px 8px 10px black;
  border-radius: 4px;
  margin: 0;
  transition: ease 0.1s;

  &:hover {
    background-color: #edcf748d;
  }

  @media screen and (max-width: $small-screen) {
    width: 160px;
    height: 260px;
    background-color: $tertiary-bg;
  }
}

.image {
  width: 200px;
  height: 330px;
  object-fit: cover;
  border-radius: 4px;

  @media screen and (max-width: $small-screen) {
    width: 155px;
    height: 215px;
  }
}

.icon {
  width: auto;
  height: 28px;
  padding: 2px;
  margin-right: 30px;

  @media screen and (max-width: $small-screen) {
    height: 25px;
    padding: 2px;
    margin-right: 10px;
  }
}

.vote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 5px;

  @media screen and (max-width: $small-screen) {
    justify-items: center;
    height: 50px;
  }
}

.text {
  font-size: 1.6vw;
  width: 200px;
  height: auto;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  color: $elegant-white;

  @media screen and (max-width: $small-screen) {
    font-size: 18px;
    height: auto;
    padding-right: 20px;
    margin: 0;
  }
}

.title {
  width: 200px;
  height: auto;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-top: 32px;

  @media screen and (max-width: $small-screen) {
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }
}

.votedCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 370px;
  background-color: $statuette;
  box-shadow: 3px 8px 10px black;
  border-radius: 4px;
  margin: 0;

  @media screen and (max-width: $small-screen) {
    width: 160px;
    height: 260px;
  }
}

.votedIcon {
  width: auto;
  height: 28px;
  padding: 2px;
  filter: invert(1);
  margin-right: 30px;

  @media screen and (max-width: $small-screen) {
    height: 25px;
    padding: 2px;
    margin-right: 10px;
  }
}

.votedText {
  font-size: 1.6vw;
  width: 200px;
  height: auto;
  margin: 0;
  margin-left: 30px;
  margin-right: 18px;
  color: $elegant-black;
  font-weight: $bold;

  @media screen and (max-width: $small-screen) {
    font-size: 18px;
    height: auto;
    padding-right: 20px;
    margin: 0;
  }
}

.excludedCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 370px;
  background-color: $tertiary-bg;
  box-shadow: 3px 8px 10px black;
  border-radius: 4px;
  margin: 0;
  opacity: 0.3;

  @media screen and (max-width: $small-screen) {
    width: 160px;
    height: 260px;
    background-color: $tertiary-bg;
  }
}

.excludedText {
  font-size: 1.6vw;
  width: 200px;
  height: auto;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  color: $elegant-white;

  @media screen and (max-width: $small-screen) {
    font-size: 18px;
    height: auto;
    padding-right: 20px;
    margin: 0;
  }
}

.excludedTitle {
  width: 200px;
  height: auto;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-top: 32px;

  @media screen and (max-width: $small-screen) {
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }
}

.votedTitle {
  width: 200px;
  height: auto;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-top: 32px;

  @media screen and (max-width: $small-screen) {
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }
}

.excludedIcon {
  width: auto;
  height: 28px;
  padding: 2px;
  margin-right: 30px;

  @media screen and (max-width: $small-screen) {
    height: 25px;
    padding: 2px;
    margin-right: 10px;
  }
}

.disabled {
  display: none;

  @media screen and (max-width: $small-screen) {
    display: none;
  }
}

.disabledIcon {
    margin-left: 30px;

  @media screen and (max-width: $small-screen) {
      margin-left: 10px;
  }
}
