@import "../pattern/index.scss";

.view {
  width: 100%;
  height: 100vh;

  @media screen and (max-width: $small-screen) {
    width: 100vw;
    height: 100vh;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
  }
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 80px;
  margin-bottom: 20px;

  @media screen and (max-width: $small-screen) {
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.containerUserVotes {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-bottom: 200px;

  @media screen and (max-width: $small-screen) {
    flex-direction: column;
    width: 100vw;
    margin-top: 30px;
    padding-bottom: 50px;
  }
}

.containerMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: auto;
  margin-top: 80px;
  padding-bottom: 50px;

  @media screen and (max-width: $small-screen) {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: 30px;
    padding-bottom: 50px;
  }
}

.categoryButtonContainer {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $principal-font;
  color: $elegant-white;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: $red-carpet;
  bottom: 0;
  margin: 0;

  @media screen and (max-width: $small-screen) {
    width: 100%;
    height: 50px;
  }
}

.categoryName {
  z-index: $top;
  width: 40%;
  height: auto;
  font-family: $secondary-font;
  font-size: 4vw;
  line-height: 80px;
  color: $statuette;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;

  @media screen and (max-width: $small-screen) {
    width: 45%;
    height: auto;
    font-size: 6vw;
    line-height: 32px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

.line {
  z-index: $top;
  width: 16%;
  height: 0;
  border: 2px solid $statuette;
  border-radius: $border-radius-medium-relative;
  border: 2px solid $statuette;

  @media screen and (max-width: $small-screen) {
    width: 16%;
    border: 2px solid $statuette;
    border-radius: $border-radius-medium-relative;
    border: 1px solid $statuette;
  }
}

.buttonMovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 370px;
  height: 470px;
  background-color: transparent;
  border: none;
  margin-bottom: 250px;

  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 170px;
    height: 260px;
    background-color: transparent;
    border: none;
    margin-bottom: 140px;
  }
}

.buttonUserVotes {
  margin: 0;
  background-color: transparent;
  border: none;
}

.choosedName {
  font-size: 1.5vw;
  width: 100%;
  text-align: center;
  color: $statuette;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 100px;

  @media screen and (max-width: $small-screen) {
    font-size: 5.5vw;
    width: 155px;
    margin-top: 0px;
  }
}

.categoryButton {
  width: 33%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: $elegant-white;
  font-size: 30px;
  font-weight: $bold;
  word-spacing: 10px;

  @media screen and (max-width: $small-screen) {
    font-size: 4.5vw;
    word-spacing: 10px;
  }
}

.categoryText {
  width: 34%;
  height: auto;
  font-size: 35px;
  text-align: center;
  font-weight: $bold;
  margin: 0;

  @media screen and (max-width: $small-screen) {
    width: 34%;
    height: auto;
    font-size: 6vw;
    text-align: center;
    font-weight: $bold;
    margin: 0;
  }
}
