@import "../pattern/index.scss";

.view {
  width: 100%;
  height: 100vh;

  @media screen and (max-width: $small-screen) {
    width: 100vw;
    height: 100vh;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
  }
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 80px;
  margin-bottom: 40px;

  @media screen and (max-width: $small-screen) {
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.containerUserVotes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-top: 0px;
  padding-bottom: 200px;

  @media screen and (max-width: $small-screen) {
    flex-direction: column;
    width: 100vw;
    margin-top: 30px;
    padding-bottom: 150px;
  }
}

.containerMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-top: 50px;
  padding-bottom: 50px;

  @media screen and (max-width: $small-screen) {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: 30px;
    padding-bottom: 50px;
  }
}

.categoryButtonContainer {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $principal-font;
  color: $elegant-white;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: $red-carpet;
  bottom: 0;
  margin: 0;

  @media screen and (max-width: $small-screen) {
    width: 100%;
    height: 50px;
  }
}

.categoryName {
  z-index: $top;
  width: 40%;
  height: auto;
  font-family: $secondary-font;
  font-size: 2.5vw;
  line-height: 80px;
  color: $statuette;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;

  @media screen and (max-width: $small-screen) {
    width: 45%;
    height: auto;
    font-size: 6vw;
    line-height: 32px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

.line {
  z-index: $top;
  width: 16%;
  height: 0;
  border: 2px solid $statuette;
  border-radius: $border-radius-medium-relative;
  border: 2px solid $statuette;

  @media screen and (max-width: $small-screen) {
    width: 16%;
    border: 2px solid $statuette;
    border-radius: $border-radius-medium-relative;
    border: 1px solid $statuette;
  }
}

.buttonMovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 240px;
  height: 360px;
  background-color: transparent;
  border: none;
  margin-bottom: 160px;

  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 170px;
    height: 260px;
    background-color: transparent;
    border: none;
    margin-bottom: 140px;
  }
}

.buttonUserVotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 240px;
  height: 360px;
  background-color: transparent;
  border: none;
  margin-bottom: 230px;

  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 170px;
    height: 300px;
    background-color: transparent;
    border: none;
    margin-bottom: 140px;
  }
}

.choosedName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 200px;
  height: 60px;
  text-align: center;
  color: $statuette;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 0px;

  @media screen and (max-width: $small-screen) {
    font-size: 5.5vw;
    width: 170px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.selectedCategoryButton {
  width: 33%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: $elegant-white;
  font-size: 30px;
  font-weight: $bold;
  transition: ease-in 0.05s;

  &:hover {
    background-color: $red-carpet-hover;
  }

  @media screen and (max-width: $small-screen) {
    font-size: 4.5vw;

    &:hover {
      background-color: $red-carpet;
    }
  }
}

.noButton{
  width: 33%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: $elegant-white;
  font-size: 30px;
  font-weight: $bold;

  @media screen and (max-width: $small-screen) {
    font-size: 4.5vw;
  }
}

.categoryText {
  width: 34%;
  height: auto;
  font-size: 35px;
  text-align: center;
  font-weight: $bold;
  margin: 0;

  @media screen and (max-width: $small-screen) {
    width: 34%;
    height: auto;
    font-size: 6vw;
    text-align: center;
    font-weight: $bold;
    margin: 0;
  }
}

.choosedContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  height: 400px;
  width: 200px;
  margin-top: 50px;

  @media screen and (max-width: $small-screen) {
    display: flex;
    width: 170px;
    height: 460px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.noFade {
  opacity: 0;
}

.fade {
  animation: fadeIn 0.5s ease-in;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

