@import "../pattern/index.scss";

.view {
  @media screen and (max-width: $small-screen) {
    width: 100vw;
    height: 100vh;
  }
}

.container {
  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
  }
}

.categoryContainer {
  @media screen and (max-width: $small-screen) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.containerUserVotes {
  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: 30px;
    padding-bottom: 50px;
  }
}

.containerMovies {
  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: 30px;
    padding-bottom: 50px;
  }
}

.categoryButtonContainer {
  @media screen and (max-width: $small-screen) {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $principal-font;
    color: $elegant-white;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: $red-carpet;
    transform: translateY(-50px);
    margin: 0;
  }
}

.categoryName {
  @media screen and (max-width: $small-screen) {
    z-index: $top;
    width: 45%;
    height: auto;
    font-family: $secondary-font;
    font-size: 6vw;
    line-height: 32px;
    color: $statuette;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
  }
}

.line {
  @media screen and (max-width: $small-screen) {
    z-index: $top;
    width: 16%;
    height: 0;
    border: 2px solid $statuette;
    border-radius: $border-radius-medium-relative;
    border: 1px solid $statuette;
  }
}

.buttonMovies {
  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 170px;
    height: 260px;
    background-color: transparent;
    border: none;
    margin-bottom: 140px;
  }
}

.buttonUserVotes {
  @media screen and (max-width: $small-screen) {
    margin: 0;
    background-color: transparent;
    border: none;
  }
}

.choosedName {
  @media screen and (max-width: $small-screen) {
    font-size: 5.5vw;
    width: 155px;
    text-align: center;
    color: $statuette;
    margin: 0;
    margin-bottom: 20px;
  }
}

.categoryButton {
  @media screen and (max-width: $small-screen) {
    width: 33%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: $elegant-white;
    font-size: 4.5vw;
    font-weight: $bold;
    word-spacing: 10px;
  }
}

.categoryText {
  @media screen and (max-width: $small-screen) {
    width: 34%;
    height: auto;
    font-size: 6vw;
    text-align: center;
    font-weight: $bold;
    margin: 0;
  }
}

