@import "../../patterns/colors.scss";
@import "../../patterns/sizes.scss";
@import "../../patterns/z-index.scss";

.divider {
  @media screen and (max-width: $small-screen) {
    z-index: $top;
    width: 100%;
    height: 0;
    border: 1px solid $divider;
  }
}
