@import "../../patterns/colors.scss";
@import "../../patterns/sizes.scss";
@import "../../patterns/z-index.scss";

.divider {
  z-index: $top;
  width: 100%;
  height: 0;
  border: 2px solid $divider;
  
  @media screen and (max-width: $small-screen) {
    border: 1px solid $divider;
  }
}
