@import "../../patterns/colors.scss";
@import "../../patterns/sizes.scss";
@import "../../patterns/z-index.scss";

.shadow {
  z-index: $middle;
  width: 100%;
  height: $top-menu-gradient;
  position: absolute;
  background: $gradient;
  transform: translateY($top-menu-height);

  @media screen and (max-width: $small-screen) {
    height: $top-menu-gradient-mobile;
  }
}
