@import '../../pattern/index.scss';

.shadow {
  z-index: $middle;
  width: 100%;
  height: $gradient-large;
  position: absolute;
  background: $principal-gradient;
  transform: translateY($top-menu-height);

  @media screen and (max-width: $small-screen) {
    height: $gradient-medium;
  }
}
