@import '../../pattern/index.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: $box-width-large-relative;
  height: $icon-height-large;

  @media screen and (max-width: $small-screen) {
    width: $box-width-small-relative;
  }
}

.icons {
  width: auto;
  height: $icon-height-small;
  transition: ease-in 0.1s;

  &:hover {
    filter: invert(0.5);
  }
}
