@import "../../patterns/colors.scss";
@import "../../patterns/sizes.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: $top-menu-social-width;
  height: $top-menu-icons;

  @media screen and (max-width: $small-screen) {
    width: $top-menu-social-mobile-width;
  }
}

.icons {
  width: auto;
  height: $top-menu-social-height;
  transition: ease-in 0.1s;

  &:hover {
    filter: invert(0.5);
  }
}
