@import "../../patterns/colors.scss";
@import "../../patterns/sizes.scss";

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $top-menu-height;
  background-color: $menu;
  padding-left: $top-menu-padding;
  padding-right: $top-menu-padding;
  
  @media screen and (max-width: $small-screen) {
    width: 100vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: $elegant-black;
}

.logo {
  width: auto;
  height: $top-menu-icons;
}
