@import '../../pattern/index.scss';

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $top-menu-height;
  background-color: $principal-bg;
  padding-left: $padding-small-relative;
  padding-right: $padding-small-relative;
  
  @media screen and (max-width: $small-screen) {
    width: 100vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: $elegant-black;
}

.logo {
  width: auto;
  height: $icon-height-large;
}
