@import "../../patterns/colors.scss";
@import "../../patterns/sizes.scss";
@import "../../patterns/z-index.scss";

.container {
  @media screen and (max-width: $small-screen) {
    z-index: $top;
    width: 18%;
    height: 0;
    border: 1px solid $statuette;
  }
}
