@import "../../patterns/colors.scss";
@import "../../patterns/sizes.scss";
@import "../../patterns/z-index.scss";

.container {
  z-index: $top;
  width: 8%;
  height: 0;
  border: 2px solid $statuette;
  border-radius: 20%;

  @media screen and (max-width: $small-screen) {
    width: 18%;
    border: 1px solid $statuette;
  }
}
