@import "./patterns/colors.scss";
@import "./patterns/sizes.scss";

.container {
  @media screen and (max-width: $small-screen) {
    width: 100vw;
    height: 100vh;
    background-color: $home-bg;
  }
}
